.hero {
  height: 500px;
  position: relative;
}
#myVideo {
  width: 100%;
  height: 500px;
}
video {
  object-fit: cover;
}
.hero-content {
  position: relative;
  bottom: 450px;
}
.hero-news-img {
  height: 200px;
}
