.single-post .title{
    
    font-size: 29px;
    font-weight: 600;
    line-height: 43.5px;
    text-align: right;
    
}
.single-post .descr, .single-post .sub-descr, .single-post .last-descr{
    
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    text-align: right;

}
.single-post .post-date, .single-post .post-views, .single-post .post-category{

    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    color : #615959;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 5px;
}
.single-post .post-info{
    display: flex;
    justify-content: end;
    gap: 10px;
}
.single-post span{
    font-size: 30px;
    color : #615959;
}
.single-post .descr-img, .single-post .post-img{
    width: 100%;
    
}
.single-post .tags{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}
.single-post .tags p{
    margin-bottom: 0;
    
    font-size: 22px;
    font-weight: 600;
    text-align: right;

}
.single-post .tags button{
    border: 1px solid #4095C6;
    background: #F5F6FA;
    color : #4095C6;
    width: 140px;
    height: 53px;
    font-size: 18px;
    font-weight: 400;
    
    

}

@media screen and (max-width : 576px) {
    .single-post span{
        font-size: 20px;
       
    }
    .single-post .post-date, .single-post .post-views, .single-post .post-category{

        font-size: 12px;
        
        gap: 5px;
    }
    .single-post .title{
    
        font-size: 18px;
        line-height: 28px;
        
    }
    .single-post .descr, .single-post .sub-descr, .single-post .last-descr{
    
        font-size: 12px;
        
        line-height: 20px;
        
    
    }
    .single-post .tags{
        gap: 5px;
    }
    .single-post .tags p{
        font-size: 11px;
    }
    .single-post .tags button{
        width: 60px;
        height: 30px;
        font-size: 11px;  
    }
}
@media (min-width : 576px) and (max-width : 768px) {
    .single-post .title{
    
        font-size: 22px;
        line-height: 32px;
        
    }
    .single-post .descr, .single-post .sub-descr, .single-post .last-descr{
    
        font-size: 14px;
        
        line-height: 22px;
        
    
    } 
    
    .single-post .tags p{
        font-size: 16px;
    }
    .single-post .tags button{
        width: 100px;
        height: 40px;
        font-size: 16px;  
    }
    
    
}
@media (min-width : 768px) and (max-width : 992px) {
    .single-post .title{
    
        font-size: 24px;
        line-height: 32px;
        
    }
    .single-post .descr, .single-post .sub-descr, .single-post .last-descr{
    
        font-size: 15px;
        
        line-height: 24px;
        
    
    } 
}
@media (min-width : 992px) and (max-width : 1200px) {
    .single-post .title{
    
        font-size: 26px;
        line-height: 34px;
        
    }
    .single-post .descr, .single-post .sub-descr, .single-post .last-descr{
    
        font-size: 16px;
        
        line-height: 25px;
        
    
    } 
}
@media (min-width : 1200px) and (max-width : 1400px) {
    
}
@media screen and (min-width : 1400px) {
    
}