.tv-bg {
  background-color: black;
  margin-bottom: 20px;
}
.tv_header{
  color: #4095c6;
  text-align: right;
  border-right: 5px solid #4095c6;
  padding-right: 5px;
  margin-top: 20px;
}
.how-we-work-main {
  margin-top: 3rem;
  padding-bottom: 3rem;
}
.tv_card {
  position: relative;
}

.tv_card_img {
  position: relative;
}
.image-container {
  position: relative;
  display: inline-block;
}

img {
  max-width: 100%;
  height: auto;
}
.button-tv {
  position: absolute;
  top: 10px;
  right: 10px;
}
.button-tv button {
  background-color: #4095c6;
  color: white;
  padding: 10px;
  border: none;
}
.tv_img {
  background: url("../../assets/galleryback.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  text-align: right;
  color: white;
}
.tv_img p{
  margin-bottom: 0;
  
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
  text-align: right;

}

.playbutton-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.play-button img {
  width: 100%; /* Adjust the size as needed */
  height: 100%;
}

.circle-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
}

@media (max-width: 768px) {
  .how-we-work-main img {
    max-width: 100%;
    height: auto;
  }
}
