.headlines {
  padding: 1.5rem 0;
}
.headlines button {
  color: #fff;
  border: 0;
  padding: 4px 8px;
}

.headlines .headline-area {
  background-color: rgb(232, 230, 230);
  padding: 10px 20px;
}

.headlines .btn-arrow-left,
.headlines .btn-arrow-right {
  background: grey;
  color: #000 !important;
  border: 0;
  padding: 10px 14px !important;
}

.headlines .clicked {
  background-color: rgb(50, 136, 241);
  color: #fff !important;
}

@media screen and (max-width: 576px) {
  
}
@media (min-width: 576px) and (max-width: 768px) {
  
}
@media (min-width: 768px) and (max-width: 992px) {
  
}
@media (min-width: 992px) and (max-width: 1200px) {
  
}
@media (min-width: 1200px) and (max-width: 1400px) {
  
}
@media screen and (min-width: 1400px) {
  
}
