*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0;
  
}


a {
  text-decoration: none !important;
  cursor: pointer !important;
}
.bg-blue {
  background-color: #4095C6;
}
.text-blue {
  color: #4095C6;
}
p {
  text-align: right;
}
